.App {
  text-align: center;
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  min-height: 100vh !important;
  background:linear-gradient(rgb(121, 246, 183), #c7f0f0, #2cc3ed);
}

.co{
  margin: 0 auto; /* İçeriği yatay olarak ortala */
  height: max-content;
  width: max-content;
  background-color: rgba(255, 255, 246, 0.758);
  border-radius: 55px;
  display: flex !important;
  flex-wrap: wrap; /* İçerik sıralı bir şekilde sığsın */
  justify-content: center !important; /* İçeriği yatay olarak ortala */
  align-items: flex-start !important;/* İçeriği dikey olarak üstte hizala */
  
}
.currentCard{
  background-color: rgb(255, 255, 246);
  border-radius: 55px;
  margin-bottom: 53px;
}
.header{
 position: absolute;
 margin-top: 12px;
 margin-left: 62px;
 font-size: 33px;
 color: #625f5f;
 font-weight: 600;
}
.temp{
  font-size: 130px;
  font-weight: 300;
  width: 150px;
  height: 150px;
  position :absolute;
  margin-top: 142px;
  margin-left: 382px;
  color: #625f5f;
}
.Currentinfo{
  position: absolute;
  margin-top: 77px;
  margin-left: 1200px;
  font-size: 33px;
  color: #625f5f;
  font-weight: 500;
  border: 3px solid rgb(203, 196, 196);
  border-radius: 30px;
  padding: 13px 12px 12px 16px;
}
.currentimg{
  margin: auto;
  margin-left: 55px;
  margin-top: 85px;
  border-radius: 50% !important;
  width: 100%; /* Resim genişliğini yüzde olarak ayarla */
  max-width: 268px; /* Maksimum genişlik belirle */
  height: auto; /* Yüksekliği otomatik olarak ayarla */
}
.CurrentBody{
  background-color: rgba(102, 202, 202, 0.754);
  border-radius:55px;
  margin-top: 53px;
  margin-bottom: 21px;
  margin-left:55px;
}

.dropdown{
  margin-top: 10px;
  margin-bottom: 25px;
  color: #625f5f;
}
.toggle{
  width: 460px;
  height: 70px;
  color: #ffffffc0 !important;
  font-size: 34px !important;
  font-weight: 700 !important;
}
.dropItem{
  width: 460px;
  height: 190px;
  font-size: 24px !important;
}

.cityBox{
  font-size: 45px;
  font-weight: 600;
  padding:5px 23px 2px 23px ;
  border:2px solid rgb(95, 169, 166);
  width:min-content;
  margin: auto;
  border-radius: 25px;
}

.cardBody{
  background-color: rgba(102, 202, 202, 0.754);
  border-radius:55px;
  margin-top: 53px;
  margin-bottom: 21px;
}

.card{
  width: 16rem;
  margin-right: 10px;
  margin-left: 10px;
  background-color: transparent !important;
  border: none !important;
}
.cardtext{
  font-size: 32px;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.wetCards{
 margin-top: 135px;
 display: flex;
 justify-items: center;
 flex: 1; /* İçerikleri eşit genişlikte yay */
 text-align: center; /* İçeriği ortala */
}

.img{
  margin: auto;
  margin-top: 55px;
  border-radius: 50% !important;
  background-color:  #d7d3d3c0;
  width: 100%; /* Resim genişliğini yüzde olarak ayarla */
  max-width: 180px; /* Maksimum genişlik belirle */
  height: auto; /* Yüksekliği otomatik olarak ayarla */

}

.title{
  font-size: 40px !important;
  color: #2d2c2c !important;
  margin-top: -32px !important;
}

